

@font-face {
    font-family: 'swis721_btroman';
    src: url('swiss-721-bt-70631-webfont.eot');
    src: url('swiss-721-bt-70631-webfont.eot?#iefix') format('embedded-opentype'),
         url('swiss-721-bt-70631-webfont.woff') format('woff'),
         url('swiss-721-bt-70631-webfont.ttf') format('truetype'),
         url('swiss-721-bt-70631-webfont.svg#swis721_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}